body {
  background-color: rgb(50, 50, 50);
  color: white;
}

.title {
  float: left;
  margin: 0px 0px;
}

.author {
  /* float: left; */
  margin: 15px 0px 0px 7px;
}

/* h3 {
  margin: 15px;
} */

p {
  color: white;
}

textarea {
  margin-top: -10px;
}

.console {
  /* float: left; */
  margin-right: 10px;
  font-size: 14px;
}

a {
  color: hotpink;
}

#arrow {
  height: 50px;
  width: 50px;
}

button {
  cursor: pointer;
}

.sample {
  float: left;
  width: 140px;
}

.sampleButton {
  float: left;
  width: 22px;
  margin: 0 5px 2px 0;
}

/* .sampleText {
  float: left;
  margin-right: 10px;
  font-size: 14px;
} */



/* button {
  background-color: transparent;
  color:white;
  border:solid white 5px;
  width:120px;
  padding:10px;
  margin:10px;
}

button:hover {
  background-color: transparent;
  color:#FFD12C;
  border:solid #FFD12C 5px;
} */
