body {
  background-color: rgb(50, 50, 50);
  color: white;
}

h1 {

}

p {
  color: white;
}

textarea {
  margin-top: -10px;

}



.sampleButtons {
  float: left;
  width:22px;
  margin: 0 5px 2px 0;
}
